---
interface Props {
  name: string;
  url: string;
}

const { name, url } = Astro.props;
const id = url.split("/")[6];
const imageSrcUrl = `https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/${id}.png`;
---

<a class="rounded border flex flex-col justify-center items-center p-2" href={`/poke/${name}`}>
  <img src={imageSrcUrl} alt={name} />
  <span class="capitalize">{name}</span>
</a>